{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    <center>
    <div class="container" style="background-color:aquamarine; width: 700px; height: 300px; padding-top: 50px;">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
           <tr> {{ form.as_table }}</tr> 
        </table><br>
        <input type="submit" value="changepassword">
        </form>
    </div>
    </center><br>
    
    {% endblock %}