<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}s
    {{msg}}
    {% endfor %}
<table>
    <tr>
        <th>Details</th>
        <th>Photo</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.Name}}</td>
        <td>{{user.Brand}}</td>
        
        <td><img src="{{user.Photo.Url}}" alt="" height="120px" width="150px">
        </td>
    </tr>
    </table>

    
</body>
</html>